* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    font-family: sans-serif;
}

.aboutHead,
.aboutInfo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutHead {
    text-align: center;
}

.aboutName h3 {
    font-size: 30px;
}

.aboutName p {
    font-size: 16px;
}

.aboutInfo {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 30px;
}

.aboutTxt,
.experience,
.skills,
.projects,
.contact {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 50px 0 0;
}

.proList {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.proList li {
    list-style: none;
}